{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div >{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div >
            Vous êtes connecté {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">déconnexion</a>
        </div>
    {% endif %}

    <h1 >Connecte-toi</h1>
    <label for="inputEmail">Ton email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus placeholder="Indique ton email.">
    <label for="inputPassword">Ton mot de passe</label>
    <input type="password" name="password" id="inputPassword"  autocomplete="current-password" required placeholder="Rentre ton mot de passe.">

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div>
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button  type="submit">
      Se connecter
    </button>
</form>
{% endblock %}