{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
<h1>Bienvenue sur les avis</h1>
    <a href="{{ path('avis_edition') }}"><button>Donnez votre avis</button></a>
    <div>
        {% for avis in avis %}
            {% if avis.actif == true %}
                <div>
                    <div>
                        <h2>{{ avis.titre }}</h2>
                        <h2>avis donné par {{ avis.pseudo }}</h2>
                    </div>
                    <div>avis écrit le {{avis.createdAt.format('d-m-Y')}}</div>
                    <div>
                        {{ avis.corps }}
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}
