{% extends 'base.html.twig' %}

{% block title %}Que faisons-nous ensemble ?{% endblock %}

{% block body %}
    <h1>Que faisons-nous ensemble ?</h1>
    <p>Nous travaillons en séances individuelles ou collectives. <br>
        Notre travail a pour but d’améliorer la maîtrise cérébrale pour une meilleure conscience au monde et l’intégration harmonieuse de nos perceptions, nos émotions, nos pensées, nos décisions, nos gestes. Cela passe par des exercices simples sur le corps et nos sens.<br>

        Il y aura des temps de <br>
<lu>
    <li>relaxation</li>
    <li>« conscience au monde »</li>
    <li>décompression</li>
    <li>concentration</li>
    <li>écoute</li>
    <li>échanges</li>
    <li>dessin</li>
    <li>écriture</li>
    <li>mémoire</li>
</lu>
        <br>
        Vous trouverez sur notre site des exemples d'exercices que vous pouvez pratiquer chez vous en attendant de venir me voir.
        <br>
        <br>
    <div><a href="{{ path('exercices') }}"><button>Exercices</button></a></div>
    <br>
        L’approche est évidemment bien différente selon les publics et le contexte.
        J’exerce la méthode Vittoz à mon cabinet Étincelle-Vittoz de Poissy, mais aussi en me rendant dans les écoles ou dans les entreprises.
    </p>
    <div><a href="{{ path('cabinet') }}"><button>Les séances au cabinet</button></a></div>
    <div><a href="{{ path('ecole') }}"><button>Les séances à l'école</button></a></div>
    <div><a href="{{ path('entreprise') }}"><button>Les séances en entreprise</button></a></div>
    <div><a href="{{ path('home') }}"><button>Nous envoyer un message</button></a></div>
    <div><a href="{{ path('home') }}"><button>Prendre rendez-vous</button></a></div>
{% endblock %}
