{% extends 'base.html.twig' %}

{% block title %}La Méthode Vittoz{% endblock %}

{% block body %}
    <h1>La Méthode Vittoz</h1>
    <div class="corps">
        <p>La <b>méthode Vittoz</b>, est une approche psychocorporelle basée sur la <b>redécouverte de nos cinq sens,
            l’accueil des
            sensations, de nos émotions et une conscience de ce qui est présent</b> .
            <br>
            La méthode Vittoz est essentiellement expérientielle, faite d’un ensemble d’exercices simples, faciles à
            intégrer dans la vie quotidienne, qui réhabilitent les perceptions sensorielles pour développer la présence
            à soi, à l’environnement et à l’autre.
            <br>
            Par exemple, la sensation consciente du bruit, du son autour de soi, peut permettre de diminuer la
            rumination mentale ou la dispersion, et de vivre simplement le moment présent (réceptivité auditive).
            <br>
            Elle mobilise la sensation de soi, le plaisir de se sentir réceptif, une sensation plus intense de son
            identité.
            <br>
            L’accueil des émotions se fait pas à pas. La méthode Vittoz ouvre le sujet à une autre qualité relationnelle
            avec lui-même, son environnement et les autres.
            <br>
            La méthode soutient la personne dans ses choix et la volonté à mobiliser.
            <br>
    </div>
    <div class="table"><h2 style="color: white">Les étapes de la Méthode Vittoz</h2>
        <br>
        <ol>
            <li>Rétablir la réceptivité : contact / état de présence</li>
            <li>Pratiquer des actes conscients : vivre ici et maintenant / agir et être dans l’instant présent</li>
            <li>Ajuster l’émissivité : développer sa concentration, son attention, sa capacité de mémorisation</li>
            <li>Redécouvrir l’élan de la volonté : exister librement</li>
            <li>Accueillir ses émotions : <br>Les émotions informent sur notre vécu intérieur face aux stimuli de
                l’environnement. Il s’agit de les accueillir sans se laisser submerger par les pensées ou les ressentis
                qu’elles suscitent.
            </li>
            <li>Revenir à l’instant présent : permet d’accueillir et consentir à ce qui est</li>
            <li>Expérimenter la relaxation psychosensorielle : s’accueillir dans sa globalité (Corps, Cœur, Cerveau, dit
                "les 3C")
            </li>
        </ol>
        <img src="{{ asset('assets/img/Les3C.webp') }}" alt="Les 3 C" style="border-radius: 10rem">
    </div>

    <div class="corps">
        <p>La répétition des exercices permet un changement du fonctionnement cérébral (cf. neurosciences). Nous allons
            atténuer les comportements automatiques et ainsi <b>trouver des ressources intérieures et une créativité renouvelée</b>.
                <br>
            La Méthode Vittoz offre des exercices ayant une portée thérapeutique, quel que soit le niveau de la demande
            du patient.
            <br>
            Tous les exercices visent progressivement <b>l’unification de la personne</b>.
            La méthode Vittoz appartient au courant des thérapies humanistes, d’orientation résolument phénoménologique, c’est-à-dire axée sur l’expérience, sur <b>l’adhésion à l’instant présent dans sa globalité</b>. </p>
    </div>
    <div class="ligne3">
        <div class="colonne1">
            <div class="sous-colonne2">
                <img src="{{ asset('assets/img/Rebecca_Shankland.webp') }}" alt="Rebecca Shankland">
                <h2>Rebecca Shankland</h2>
            </div>
            <br>
            Rebecca Shankland est responsable du Diplôme Universitaire de Psychologie du développement à l’Université
            Lyon Lumière, responsable du diplôme de Psychologie positive à l’Université Grenoble Alpes et membre du
            GRIPA (Groupement de Recherche et d’Intervention sur la Présence Attentive).<br><br>
            Ses recherches scientifiques menées depuis 8 ans à l’université de Grenoble-Alpes à travers le programme
            FoVea (Flexibilité, Ouverture, basé sur la méthode Vittoz, pour renforcer l’Expérience Attentive) ont permis
            de mettre en évidence des effets de la méthode sur la réduction du stress et de l’anxiété, l’amélioration du
            bien-être, des capacités d’attention et des compétences émotionnelles.
            <br><br>
            Ouvrages particulièrement recommandés :
            <br><br>
            <div class="sous-colonne2">
                <div>
                    <img src="{{ asset('assets/img/Ces_liens_qui_nous_font_vivre.webp') }}"
                         alt="Ces Liens qui nous font vivre">
                </div>
                <div>
                    <img src="{{ asset('assets/img/Les_pouvoirs_de_la_gratitude.webp') }}"
                         alt="Les Pouvoirs de la gratitude ">
                </div>
            </div>
        </div>
        <div class="colonne2">
            <div class="sous-colonne2">
                <img src="{{ asset('assets/img/Jean-Philippe_Lachaux.webp') }}" alt="Jean-Philippe Lachaux">
                <h2>Jean-Philippe Lachaux</h2>
            </div>
            <br>
            Jean-Philippe Lachaux a actualisé et développé les travaux de Roger Vittoz.
            Il est directeur de recherche à l'INSERM, au sein du Centre de recherche en neurosciences de Lyon. <br><br>
            Il anime un groupe dédié à la compréhension des mécanismes cérébraux des grandes fonctions cognitives
            humaines. <br><br>
            Quelques-uns de ses livres :
            <br><br>
            <div class="sous-colonne2">
                <div>
                    <img src="{{ asset('assets/img/Les_Petites_bulles_de_l’attention.webp') }}"
                         alt="Les Petites bulles de l’attention">
                </div>
                <div>
                    <img src="{{ asset('assets/img/Le_cerveau_attentif.webp') }}" alt="Le Cerveau attentif">
                </div>
                <div>
                    <img src="{{ asset('assets/img/La_Magie_de_la_concentration.webp') }}"
                         alt="La Magie de la concentration">
                </div>
                <div>
                    <img src="{{ asset('assets/img/L’Attention_ca_s’apprend.webp') }}" alt="L'Attention, ça s'apprend">
                </div>
            </div>


        </div>
    </div>

{% endblock %}
