<header>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a class="impair" href="{{ path('qui') }}">Yvette Ogier </a></li>
                <li><a class="pair" href="{{ path('vittoz') }}">La méthode Vittoz</a></li>
                <div class="que">
                    <li><a class="impair" href="{{ path('que') }}">Que faisons-nous ?</a>
                        <div class="sous-menu1">
                            <div class="sous-item">
                                <a href="{{ path('cabinet') }}">au cabinet</a>
                            </div>
                            <div class="sous-item">
                                <a href="{{ path('ecole') }}">à l'école</a>
                            </div>
                            <div class="sous-item">
                                <a href="{{ path('entreprise') }}">en entreprise</a>
                            </div>
                        </div>
                    </li>
                </div>
                <li><a class="pair" href="{{ path('pour-qui') }}">Pour qui ?</a></li>
                <li><a class="impair" href="{{ path('actualites') }}">Actualités</a></li>
                <li><a class="pair" href="{{ path('exercices') }}">Exercices</a></li>
                <li><a class="impair" href="{{ path('avis') }}">Avis</a></li>
                <li><a class="pair" href="{{ path('contact') }}">Contact</a></li>
            </ul>
            <a href="{{ path('home') }}"><h1 class="logo pair">Étincelle-Vittoz</h1></a>
        </div>
    </nav>
    {#    <nav> #}
    {#        <div><a href="{{ path('home') }}">Accueil</a></div> #}
    {#        <div><a href="{{ path('qui') }}">Qui suis-je ?</a></div> #}
    {#        <div><a href="{{ path('vittoz') }}">La méthode Vittoz</a></div> #}
    {#        <div><a href="{{ path('que') }}">Que faisons-nous ensemble ?</a></div> #}
    {#        <div><a href="{{ path('pour-qui') }}">Pour qui ?</a></div> #}
    {#        <div><a href="{{ path('actualites') }}">Actualités</a></div> #}
    {#        <div><a href="{{ path('exercices') }}">Exercices</a></div> #}
    {#        <div><a href="{{ path('avis') }}">Avis</a></div> #}
    {#        <div><a href="{{ path('contact') }}">Contact</a></div> #}
    {#    </nav> #}
</header>