<header>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a class="impair" href="{{ path('qui') }}">Yvette Ogier </a></li>
                <li><a class="pair" href="{{ path('vittoz') }}">La méthode Vittoz</a></li>
                <div class="que">
                    <li><a class="impair" href="{{ path('que') }}">Que faisons-nous ?</a>
                        <div class="sous-menu1">
                            <div class="sous-item">
                                <a class="impair" href="{{ path('cabinet') }}">au cabinet</a>
                            </div>
                            <div class="sous-item">
                                <a class="pair" href="{{ path('ecole') }}">à l'école</a>
                            </div>
                            <div class="sous-item">
                                <a class="impair" href="{{ path('entreprise') }}">en entreprise</a>
                            </div>
                        </div>
                    </li>
                </div>
                <li><a class="pair" href="{{ path('pour-qui') }}">Pour qui ?</a></li>
                <li><a class="impair" href="{{ path('actualites') }}">Actualités</a></li>
                <li><a class="pair" href="{{ path('exercices') }}">Exercices</a></li>
                <div class="avis">
                    <li><a class="impair" href="{{ path('avis') }}">Avis</a>
                    <div class="sous-menu2">
                        <div class="sous-item">
                            <a class="pair" href="{{ path('avis_edition') }}">laisser un avis</a>
                        </div>
                    </div>
                    </li>
                </div>
                <div class="contact">
                    <li><a class="pair" href="{{ path('contact') }}">Contact</a>
                        <div class="sous-menu3">
                            <div class="sous-item">
                                <a class="pair" href="{{ path('message') }}">envoyer un message</a>
                            </div>
                            <div class="sous-item">
                                <a class="impair" href="{{ path('message') }}">prendre rendez-vous</a>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
            <a href="{{ path('home') }}"><h1 class="logo impair">Étincelle-Vittoz</h1></a>
        </div>
    </nav>
</header>