<header>
    <nav>
        <div><a href="{{ path('home') }}">Accueil</a></div>
        <div><a href="{{ path('qui') }}">Qui suis-je ?</a></div>
        <div><a href="{{ path('vittoz') }}">La méthode Vittoz</a></div>
        <div><a href="{{ path('que') }}">Que faisons-nous ensemble ?</a></div>
        <div><a href="{{ path('pour-qui') }}">Pour qui ?</a></div>
        <div><a href="{{ path('actualites') }}">Actualités</a></div>
        <div><a href="{{ path('exercices') }}">Exercices</a></div>
        <div><a href="{{ path('avis') }}">Avis</a></div>
        <div><a href="{{ path('contact') }}">Contact</a></div>
    </nav>
</header>